*{
    padding: 0;
    margin: 0;  
}
body{
    background-color: skyblue;
    color: white;
}
h1{
    text-align: center;
    font-family:  cursive; 
    margin:20px 40px 0px;
    font-size: 36px;
    letter-spacing: 1.5px;
    min-width: 358px;
}
#wrapper{
    width: 70%;
    border: solid 1px transparent;
    margin: 10px auto;
    height: 480px;
    padding-top: 40px;
}
.inputs{
    display: block;
    margin: 20px auto;
    width: 320px;
    height: 40px;
    border: solid 1px transparent;
    border-radius: 10px 0px;
    border-bottom: 2px solid rgb(134, 139, 235);
    outline: none;
    font-size: 14px;
    padding-left:  20px;
    font-weight: bold;
    color: rgb(134, 139, 235);
} 
.inputs::placeholder{
    color: rgb(134, 139, 235);
}
.inputs:hover, #wrapper .inputs:focus{
    transform: translateY(2px);
   border-bottom: 2px solid rgb(196, 134, 235);
    transition: 0.75s;
}
#agreement-wrapper{
    display: block;
margin: 0px auto;
    width: 390px;
}
button{
    display: block;
    margin: 18px auto;
    width: 120px;
    height: 40px;
    outline: none;
    border-radius: 10px;
    border: 1px solid  transparent;
    font-family: 'Georgia', cursive; 
    letter-spacing: 1.5px;
    color: white;
    background-color: rgb(134, 139, 235);
}
button:hover, button:focus{
    transform: translateY(2px);
    transition: 0.75s;
    background-color: rgb(196, 134, 235);
}
#content-wrapper{
    position: relative;
    height: 320px;
}
#epic-head{
    position: absolute;
    right: 189px;
    top: 0px; 
}
#login-form{
    margin-top: 220px; 
}
#login-form::before{
    content: " ";
    display: block;
    height: 90px;
}
#forgot-pass{
    text-align: center;
}
